<div id="contenidoPDF">
    <div class="contenidoPDF__header">
        <div class="contenidoPDF__header__logoI">
            <div class="contenidoPDF__header__logoI--img1">
                <img src="../assets/logoIzquierda.png" alt="">
            </div>
            <div class="contenidoPDF__header__logoI--separador">
               <hr>  
            </div>
            <p class="contenidoPDF__header__logoI--titulo">Nombre de la Transacción</p>
        </div>
        <div class="contenidoPDF__header__logoD">
            <img class="contenidoPDF__header__logoD--img2"src="../assets/logoDerecha.png" alt="">
        </div>
    </div>
    <div class="contenidoPDF__body">
        <div class="contenidoPDF__body__informacion">
            <div class="contenidoPDF__body__informacion__expedicion">
                <p class="contenidoPDF__body__informacion__expedicion--empresa"><b>Empresa:</b> Empresa de la cual se genera la informacion</p>
                <p class="contenidoPDF__body__informacion__expedicion--poliza"><b>Póliza:</b> Número de póliza con la que la empresa tiene cobertura</p>
                <p class="contenidoPDF__body__informacion__expedicion--fechaGeneracion"><b>Fecha generación:</b> dd/mm/yyyy hh24:mi:ss</p>
            </div>
            <div class="contenidoPDF__body__informacion__tabla">
                <p-table [columns]="cols" [value]="data" responsiveLayout="scroll">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td *ngFor="let col of columns">
                                {{data[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <div class="contenidoPDF__body__pieDePagina">
            <p>Compañía de Seguros Bolívas S.A. NIT: 860.002.503-2 <br>
                Avenida El Dorado Nº 68B-31, piso 10 Conmutador 3410077 <br>
                Bogotá D.C. Colombia <br>
                www.segurosbolivar.com
            </p>
        </div>
    </div>
</div>