#container{
    width: 600px;
    padding: 2%;
    background-color: aquamarine;
}

.imagenes{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imagen1{
    width: 100px;
}

.imagen2{
    width: 100px;
}

.parrafo{
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.parrafo img{
    width: 200px;
}

.parrafo1{
    font-size: 0.5em;
}