<div id="container">
    <div class="imagenes">
        <img class="imagen1" src="../assets/horizontal.png" alt="">
        <img class="imagen2" src="../assets/logoDerecha.png" alt="">
    </div>
    <div class="parrafo">
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <br>
        <br>
        <br>
        <p class="parrafo1">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi eum, animi neque alias enim, voluptatibus vero laudantium quos explicabo, debitis eligendi. Necessitatibus deserunt fuga praesentium cupiditate reiciendis officiis? Consequuntur, eligendi?
        </p>
        <img src="https://image.shutterstock.com/image-vector/manual-signature-documents-on-white-260nw-1389794327.jpg" alt="">
    </div>
    
</div>


<button class="descargar" (click)="descargarPDF()">
    descargar
</button>